# Excluir todos los CSV
*.csv

# Excluir checkpoints de Jupyter Notebook
**/.ipynb_checkpoints/

# Excluir archivos de salida de la carpeta data
/data/

# Excluimos credenciales de ngrok para exponer el db
.env